<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stackbuffers.groceryclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.BannedActivity"></activity>
        <activity android:name=".activities.NewArrivalsActivity" />
        <activity android:name=".activities.PromotionsActivity" />
        <activity android:name=".activities.beverages.CategoriesActivity" />
        <activity android:name=".activities.EditActivity" />
        <activity android:name=".activities.TermsConditionsActivity" />
        <activity android:name=".activities.ShareCartActivity" />
        <activity android:name=".activities.orders.ImageOrderActivity" />
        <activity android:name=".activities.orders.OrderManuallyActivity" />
        <activity android:name=".activities.orders.ManualOrderActivity" />
        <activity android:name=".activities.orders.MyOrdersActivity" />
        <activity android:name=".activities.SpinWinActivity" />
        <activity android:name=".activities.ReturnItemsActivity" />
        <activity android:name=".activities.ReturnActivity" />
        <activity android:name=".activities.CouponsActivity" />
        <activity android:name=".activities.ContactUsActivity" />
        <activity android:name=".activities.PointsActivity" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.WishListActivity" />
        <activity android:name=".activities.beverages.ItemDetailsActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.beverages.ProductsActivity" />
        <activity android:name=".activities.beverages.SubCategoriesActivity" />
        <activity android:name=".activities.NotificationsActivity" />
        <activity android:name=".activities.signin.PasswordRecoveryActivity" />
        <activity android:name=".activities.signin.SignInActivity" />
        <activity android:name=".activities.signup.CongratulationsActivity" />
        <activity android:name=".activities.signup.VerifyNumberActivity" />
        <activity android:name=".activities.signup.AddPhoneNumberActivity" />
        <activity android:name=".activities.orders.OrderDetailsActivity" />
        <activity android:name=".activities.MyProfileActivity" />
        <activity android:name=".activities.signup.SignUpActivity" />
        <activity android:name=".activities.SplashActivity2" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>